@model StaticResourceInfo

@{
    Layout = "~/Views/StaticResource/Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Download", "StaticResource", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary()
        </div>
        <div>
            @Html.LabelFor(m => m.Reference)
            @Html.EditorFor(m => m.Reference)
            <input type="submit" value="Download" />
        </div>
    }
</div>