@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Static Resource Download Monitoring</title>
    <link type="text/css" rel="stylesheet" href="~/Content/site.css" />
</head>
<body>
    <h2>Static Resource Download Monitoring</h2>
    @RenderBody()
</body>
</html>